spring:
  config:
    import:
      - optional:configserver:http://localhost:8888
  application:
    name: shopping-service
  data:
    mongodb:
      database: db_shopping
      host: localhost
      port: 27021
server:
  port: 8084
management:
  endpoint:
    web:
      exposure:
        include: "*"
message:
  path-shopping: /api/v1/shoppings